<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FlightSys.FsFlight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FsFlight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightSys.FsFlight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlightSys.FsFlight.Properties.Settings>
            <setting name="Position_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_task_file" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_tracklog_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Tracklog_point_info_synced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmXcFlight_WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="FrmXcFlight_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmXcFlight_ClientSize" serializeAs="String">
                <value>1000, 700</value>
            </setting>
            <setting name="FrmXcFlight_splitContainer1_SplitterDistance"
                serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="FrmXcFlight_splitContainer2_SplitterDistance"
                serializeAs="String">
                <value>337</value>
            </setting>
            <setting name="IgnoreMissingTracklogpointsInsideFirstTurnpoint"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Last_tracklog_convert_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_GpsDump4_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Rename407408_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTracklogFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewAssemblyVersion" serializeAs="String">
                <value>True</value>
            </setting>
        </FlightSys.FsFlight.Properties.Settings>
        <FsFlight.Properties.Settings>
            <setting name="Position_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_task_file" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_tracklog_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Tracklog_point_info_synced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmXcFlight_WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="FrmXcFlight_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmXcFlight_ClientSize" serializeAs="String">
                <value>1000, 700</value>
            </setting>
            <setting name="FrmXcFlight_splitContainer1_SplitterDistance"
                serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="FrmXcFlight_splitContainer2_SplitterDistance"
                serializeAs="String">
                <value>337</value>
            </setting>
            <setting name="IgnoreMissingTracklogpointsInsideFirstTurnpoint"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Last_tracklog_convert_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_GpsDump4_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Rename407408_folder" serializeAs="String">
                <value />
            </setting>
        </FsFlight.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FlightSys.FsFlight.Properties.Settings>
            <setting name="FsFlight_org_tracklog_fs_LastVersionOfFs" serializeAs="String">
                <value>http://fs.tracklog.org/prog/fs/LastVersionOfFs.asmx</value>
            </setting>
        </FlightSys.FsFlight.Properties.Settings>
    </applicationSettings>
</configuration>
