<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightSys.FsFsdb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FlightSys.FsDb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlightSys.FsFsdb.Properties.Settings>
            <setting name="FsCompRequiredAttributes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>id</string>
                        <string>name</string>
                        <string>from</string>
                        <string>to</string>
                        <string>location</string>
                        <string>utc_offset</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FsCompParticipantRequiredAttributes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>id</string>
                        <string>name</string>
                        <string>birthday</string>
                        <string>glider</string>
                        <string>glider_main_colors</string>
                        <string>fai_licence</string>
                        <string>female</string>
                        <string>nat_code_3166_a3</string>
                        <string>sponsor</string>
                        <string>CIVLID</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FlightSys.FsFsdb.Properties.Settings>
        <FlightSys.FsDb.Properties.Settings>
            <setting name="FsCompetitionRequiredAttributes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>id</string>
                        <string>name</string>
                        <string>from</string>
                        <string>to</string>
                        <string>location</string>
                        <string>utc_offset</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FlightSys.FsDb.Properties.Settings>
    </userSettings>
</configuration>